<header>
	<a href="/" class="logo"><img src="searchlistarr.svg" alt="Searchlistarr" width="240" height="32"></a>

	<button type="button" class="burg" aria-label="Menu"><span class="icon"><%- utils.svgIcon('hamburger') %><%- utils.svgIcon('x', 'dn') %></span></button>

	<nav>
		<a href="/" class="<%= nav.currentPage === 'watchlist' ? 'is-current' : '' %>">Watchlist (<%= stats.watchlist %>)</a>
		<a href="/unknowns" class="<%= nav.currentPage === 'unknowns' ? 'is-current' : '' %>">Unknowns (<%= stats.unknowns %>)</a>
		<form id="full-run" action="/run" method="POST"><button type="submit">
			<span class="icon loader dn" aria-label="Loading"><%- utils.svgIcon('spinner') %> &nbsp; </span><span class="icon main-icon" aria-hidden="true"><%- utils.svgIcon('refresh') %> &nbsp; </span><span class="icon check-icon dn" aria-hidden="true"><%- utils.svgIcon('check') %> &nbsp; </span>Update watchlist
		</button><label class="skip-cache-checkbox db tc"><input type="checkbox" name="force" value="1" <%- settings.always_skip_cache ? 'checked' : '' %> /> Skip cache</label></form>

		<hr />

		<a href="/settings" class="<%= nav.currentPage === 'settings' ? 'is-current' : '' %>">Settings</a>

		<a href="<%= nav.overseerUrl %>" target="_blank"><small class="icon"><%- utils.svgIcon('external') %> &nbsp; </small>Overseerr</a>

		<a href="https://google.ca/search?q=my+watchlist" target="_blank"><small class="icon"><%- utils.svgIcon('external') %> &nbsp; </small>Google</a>
		
	</nav>
</header>