<header>
	<a href="/" class="logo"><img src="searchlistarr.svg" alt="Searchlistarr" width="240" height="32"></a>

	<button type="button" class="burg" aria-label="Menu"><span class="icon"><svg class="ham" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 64l448 0 0 48L0 112 0 64zM0 224l448 0 0 48L0 272l0-48zM448 384l0 48L0 432l0-48 448 0z"/></svg><svg class="x dn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M345 137l17-17L328 86.1l-17 17-119 119L73 103l-17-17L22.1 120l17 17 119 119L39 375l-17 17L56 425.9l17-17 119-119L311 409l17 17L361.9 392l-17-17-119-119L345 137z"/></svg></span></button>

	<nav>
		<a href="/" class="<%= nav.currentPage === 'watchlist' ? 'is-current' : '' %>">Watchlist (<%= stats.watchlist %>)</a>
		<a href="/unknowns" class="<%= nav.currentPage === 'unknowns' ? 'is-current' : '' %>">Unknowns (<%= stats.unknowns %>)</a>
		<form id="full-run" action="/run" method="GET"><button type="submit">
			<span class="icon loader dn" aria-label="Loading"><svg class="spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path opacity=".4" d="M0 256C0 397.4 114.6 512 256 512c94.7 0 177.5-51.5 221.7-128l-55.4-32c-33.2 57.4-95.2 96-166.3 96C150 448 64 362 64 256S150 64 256 64l0-64C114.6 0 0 114.6 0 256z"/><path d="M477.7 384c21.8-37.7 34.3-81.4 34.3-128C512 114.6 397.4 0 256 0l0 64c106 0 192 86 192 192c0 35-9.4 67.8-25.7 96l55.4 32z"/></svg> &nbsp; </span><span class="icon main-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M94 187.1C120.8 124.1 183.3 80 256 80c39.7 0 77.8 15.8 105.9 43.9L414.1 176 360 176l-24 0 0 48 24 0 112 0 24 0 0-24 0-112 0-24-48 0 0 24 0 54.1L395.9 89.9C358.8 52.8 308.5 32 256 32C163.4 32 83.9 88.2 49.8 168.3L94 187.1zM64 369.9l52.1 52.1C153.2 459.2 203.5 480 256 480c92.5 0 171.8-56 206-135.9l-44.1-18.9C391 388.1 328.6 432 256 432c-39.7 0-77.8-15.8-105.9-43.9L97.9 336l54.1 0 24 0 0-48-24 0L40 288l-24 0 0 24 0 112 0 24 48 0 0-24 0-54.1z"/></svg> &nbsp; </span><span class="icon check-icon dn" aria-hidden="true"><svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"/></svg> &nbsp; </span>Update watchlist
		</button></form>

		<hr />

		<a href="<%= nav.overseerUrl %>" target="_blank"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M328 0L304 0l0 48 24 0 102.1 0L207 271l-17 17L224 321.9l17-17 223-223L464 184l0 24 48 0 0-24 0-160 0-24L488 0 328 0zM24 32L0 32 0 56 0 488l0 24 24 0 432 0 24 0 0-24 0-176 0-24-48 0 0 24 0 152L48 464 48 80l152 0 24 0 0-48-24 0L24 32z"/></svg> &nbsp; </span>Overseerr</a>

		<a href="https://google.ca/search?q=my+watchlist" target="_blank"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M328 0L304 0l0 48 24 0 102.1 0L207 271l-17 17L224 321.9l17-17 223-223L464 184l0 24 48 0 0-24 0-160 0-24L488 0 328 0zM24 32L0 32 0 56 0 488l0 24 24 0 432 0 24 0 0-24 0-176 0-24-48 0 0 24 0 152L48 464 48 80l152 0 24 0 0-48-24 0L24 32z"/></svg> &nbsp; </span>Google</a>
		
	</nav>
</header>