<div id="movie-<%= i %>" class="movie movie-p <%= !movie.status.known ? 'is-unknown' : '' %> <%= movie.status.overseerr ? 'is-requested' : '' %>">
	<small class="unknown-state">
		<a href="<%= movie.googleSearchUrl %>" target="_blank"><span class="icon"><%- utils.svgIcon('external') %></span></a>
	</small>

	<% if (movie.posterImg) { %>
		<div class="poster"><img class="poster-img" src="<%= movie.posterImg %>" width="200" alt="Poster for <%= movie.title %>" loading="lazy"></div>
	<% } else { %>
		<div class="poster no-p-title"><%= movie.title %></div>
	<% } %>
	
	<small class="p-title opacity-muted">
		<% if (movie.status.overseerr) { %><span class="icon check-icon" aria-hidden="true"><%- utils.svgIcon('check') %> &nbsp; </span><% } %><%= movie.title %>
	</small>

	<a href="<%= nav.currentUrl %>?grid=0&q=<%= movie.title %>" class="p-link"></a>
</div>