<form action="/query" id="movie-<%= i %>" method="POST" class="movie movie-f <%= !movie.status.known ? 'is-unknown' : '' %> <%= movie.status.overseerr ? 'is-requested' : '' %>">
	<input type="hidden" name="uuid" value="<%= movie.uuid %>" />
	<input type="hidden" name="id" value="<%= movie.id %>" />
	<input type="hidden" name="googleTitle" value="<%= movie.googleTitle %>" />
	
	<div class="movie-row">
		<div class="movie-col">
			<small class="unknown-state opacity-muted">
				<%- movie.unknownState ? movie.unknownState + ' &nbsp; ' : '' %>
				<a href="<%= movie.googleSearchUrl %>" target="_blank"><span class="icon"><%- utils.svgIcon('external') %></span></a>
			</small>

			<fieldset>
				<label for="title" class="sr-only">Title</label>
				<textarea type="text" name="title" placeholder="A Space Odyssey"><%= movie.title %></textarea>
			</fieldset>
			<fieldset>
				<label for="releaseYear" class="sr-only">Release year</label>
				<input type="text" name="releaseYear" value="<%= movie.releaseYear %>" placeholder="2001" width="100" />
			</fieldset>
			<fieldset>
				<legend class="sr-only">Type</legend>
				
				<div class="radios">
					<label for="mediaType_movie_<%= i %>"><input type="radio" name="mediaType" id="mediaType_movie_<%= i %>" value="movie" <%= movie.mediaType === 'movie' ? 'checked' : '' %> /> Movie</label>
					<label for="mediaType_tv_<%= i %>"><input type="radio" name="mediaType" id="mediaType_tv_<%= i %>" value="tv" <%= movie.mediaType === 'tv' ? 'checked' : '' %> /> TV</label>
				</div>
			</fieldset>
			<fieldset>
				<label for="id">TMDB ID</label><br />
				<% if (movie.id) { %>
					<a href="https://www.themoviedb.org/<%= movie.mediaType || 'movie' %>/<%= movie.id %>" target="_blank"><span class="icon"><%- utils.svgIcon('external') %> &nbsp; </span><%= movie.id %></a>
				<% } else { %>
					Unknown
				<% } %>
				&nbsp;
				<small class="opacity-muted"><small><%= movie.uuid %></small></small>
			</fieldset>
		</div>

		<% if (movie.posterImg) { %>
			<div class="poster"><img class="poster-img" src="<%= movie.posterImg %>" width="200" alt="Poster for <%= movie.title %>" loading="lazy"></div>
		<% } %>
	</div>

	<button type="submit">
		<span class="icon loader dn" aria-label="Loading"><%- utils.svgIcon('spinner') %></span><span class="icon main-icon" aria-hidden="true"><%- utils.svgIcon('search') %></span><span class="icon check-icon dn" aria-hidden="true"><%- utils.svgIcon('check') %> </span> Query TMDB
	</button>

	<button type="button" class="js-request button-overseerr <%= movie.status.overseerr ? 'overseerr-requested' : '' %>" id="request-<%= i %>" <%= movie.id ? '' : 'disabled' %>>
		<span class="icon loader dn" aria-label="Loading"><%- utils.svgIcon('spinner') %></span><span class="icon main-icon" aria-hidden="true"><%- utils.svgIcon('download') %></span><span class="icon check-icon dn" aria-hidden="true"><%- utils.svgIcon('check') %> </span> Request<%= movie.status.overseerr ? 'ed' : '' %>
	</button>
</form>