<%- include('partials/head.ejs') %>

	<%- include('partials/header.ejs') %>

	<main>
		<h1 class="mt-0 mb-0"><%= title %></h1>

		<form class="search" method="GET">
			<label for="q" class="sr-only">Search this list</label>
			<input type="search" name="q" id="q" value="<%= search %>" placeholder="Search this list" <%- search ? 'autofocus' : '' %> />
			<button type="submit">
				<span class="icon" aria-hidden="true"><%- utils.svgIcon('search') %></span>
			</button>
		</form>

		<%- include('partials/pagination.ejs', pagination) %>

		<div class="page movies movies-<%= grid ? 'p' : 'f' %>">
			<% if (movies.length === 0) { %>
				<p class="opacity-muted tc" style="width: 100%; min-height:300px; margin: 0; padding: 2rem 0;">No media found 😭</p>
			<% } else { %>
				<% movies.forEach(function(movie, i) { %>
					<%- include('partials/movie' + (grid ? '-poster' : '') + '.ejs',{movie, i}) %>
				<% }); %>
			<% } %>
		</div>

		<%- include('partials/pagination.ejs', pagination) %>

		<%- include('partials/footer.ejs') %>
	</main>

<%- include('partials/foot.ejs') %>
