<!--
/**
 * A simple EJS template to list unknown items and allow you to update them.
 */
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Searchlistarr • Manage Google Watchlist</title>
	<link rel="stylesheet" href="style.css">
	<meta name="robots" content="noindex, nofollow">

	<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
	<link rel="shortcut icon" href="/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Searchlistarr" />
	<link rel="manifest" href="/favicon/site.webmanifest" />
</head>
<body>

	<header>
		<a href="/"><img src="searchlistarr.svg" alt="Searchlistarr" width="240" height="32"></a>

		<nav>
			<a href="/" class="<%= nav.currentPage === 'watchlist' ? 'is-current' : '' %>">Watchlist (<%= stats.watchlist %>)</a>
			<a href="/unknowns" class="<%= nav.currentPage === 'unknowns' ? 'is-current' : '' %>">Unknowns (<%= stats.unknowns %>)</a>
			<form id="full-run" action="/run" method="POST"><button type="submit">Update watchlist<span class="icon loader dn" aria-label="Loading"> &nbsp; <svg class="spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path opacity=".4" d="M0 256C0 397.4 114.6 512 256 512c94.7 0 177.5-51.5 221.7-128l-55.4-32c-33.2 57.4-95.2 96-166.3 96C150 448 64 362 64 256S150 64 256 64l0-64C114.6 0 0 114.6 0 256z"/><path d="M477.7 384c21.8-37.7 34.3-81.4 34.3-128C512 114.6 397.4 0 256 0l0 64c106 0 192 86 192 192c0 35-9.4 67.8-25.7 96l55.4 32z"/></svg></span></button></form>

			<hr />

			<a href="<%= nav.overseerUrl %>" target="_blank"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M328 0L304 0l0 48 24 0 102.1 0L207 271l-17 17L224 321.9l17-17 223-223L464 184l0 24 48 0 0-24 0-160 0-24L488 0 328 0zM24 32L0 32 0 56 0 488l0 24 24 0 432 0 24 0 0-24 0-176 0-24-48 0 0 24 0 152L48 464 48 80l152 0 24 0 0-48-24 0L24 32z"/></svg> &nbsp; </span>Overseerr</a>

			<a href="https://google.ca/search?q=my+watchlist" target="_blank"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M328 0L304 0l0 48 24 0 102.1 0L207 271l-17 17L224 321.9l17-17 223-223L464 184l0 24 48 0 0-24 0-160 0-24L488 0 328 0zM24 32L0 32 0 56 0 488l0 24 24 0 432 0 24 0 0-24 0-176 0-24-48 0 0 24 0 152L48 464 48 80l152 0 24 0 0-48-24 0L24 32z"/></svg> &nbsp; </span>Google</a>
			
		</nav>
	</header>

	<main>

		<h1 style="margin-top: 0;"><%= title %></h1>

		<% if (movies.length === 0) { %>
			<p>No unknown media found 😎👍</p>
		<% } else { %>
			<% movies.forEach(function(movie, i) { %>
				<form action="/query" id="movie-<%= i %>" method="POST" class="movie <%= movie.id ? '' : 'is-unknown' %>">
					<input type="hidden" name="googleTitle" value="<%= movie.googleTitle %>" />

					<% if (movie.unknownStatus) { %>
						<small class="unknown-status opacity-muted">
							<%= movie.unknownStatus %>
							&nbsp;
							<a href="<%= movie.googleSearchUrl %>" target="_blank"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M328 0L304 0l0 48 24 0 102.1 0L207 271l-17 17L224 321.9l17-17 223-223L464 184l0 24 48 0 0-24 0-160 0-24L488 0 328 0zM24 32L0 32 0 56 0 488l0 24 24 0 432 0 24 0 0-24 0-176 0-24-48 0 0 24 0 152L48 464 48 80l152 0 24 0 0-48-24 0L24 32z"/></svg></span></a>
						</small>
					<% } %>

					<fieldset>
						<label for="title">Title:</label>
						<textarea type="text" name="title" placeholder="A Space Odyssey"><%= movie.title %></textarea>
					</fieldset>
					<fieldset>
						<label for="releaseYear">Release year</label>
						<input type="text" name="releaseYear" value="<%= movie.releaseYear %>" placeholder="2001" width="100" />
					</fieldset>
					<fieldset>
						<legend>Type</legend>
						
						<div class="radios">
							<label for="mediaType_movie_<%= i %>"><input type="radio" name="mediaType" id="mediaType_movie_<%= i %>" value="movie" <%= movie.mediaType === 'movie' ? 'checked' : '' %> /> Movie</label>
							<label for="mediaType_tv_<%= i %>"><input type="radio" name="mediaType" id="mediaType_tv_<%= i %>" value="tv" <%= movie.mediaType === 'tv' ? 'checked' : '' %> /> TV</label>
						</div>
					</fieldset>
					<fieldset>
						<label for="id">TMDB ID (optional)</label>
						<input type="text" name="id" value="<%= movie.id > 0 ? movie.id : '' %>" width="100" />
					</fieldset>

					<button type="submit"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M368 208A160 160 0 1 0 48 208a160 160 0 1 0 320 0zM337.1 371.1C301.7 399.2 256.8 416 208 416C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208c0 48.8-16.8 93.7-44.9 129.1l124 124 17 17L478.1 512l-17-17-124-124z"/></svg> </span> Query TMDB<span class="icon loader dn" aria-label="Loading"> &nbsp; <svg class="spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path opacity=".4" d="M0 256C0 397.4 114.6 512 256 512c94.7 0 177.5-51.5 221.7-128l-55.4-32c-33.2 57.4-95.2 96-166.3 96C150 448 64 362 64 256S150 64 256 64l0-64C114.6 0 0 114.6 0 256z"/><path d="M477.7 384c21.8-37.7 34.3-81.4 34.3-128C512 114.6 397.4 0 256 0l0 64c106 0 192 86 192 192c0 35-9.4 67.8-25.7 96l55.4 32z"/></svg></span></button>

					<button type="button" class="js-request button-overseerr" id="request-<%= i %>" <%= movie.id ? '' : 'disabled' %>><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M241 345l-17 17-17-17L79 217l-17-17L96 166.1l17 17 87 87L200 24l0-24 48 0 0 24 0 246.1 87-87 17-17L385.9 200l-17 17L241 345zM48 344l0 120 352 0 0-120 0-24 48 0 0 24 0 144 0 24-24 0L24 512 0 512l0-24L0 344l0-24 48 0 0 24z"/></svg> </span> Request<span class="icon loader dn" aria-label="Loading"> &nbsp; <svg class="spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path opacity=".4" d="M0 256C0 397.4 114.6 512 256 512c94.7 0 177.5-51.5 221.7-128l-55.4-32c-33.2 57.4-95.2 96-166.3 96C150 448 64 362 64 256S150 64 256 64l0-64C114.6 0 0 114.6 0 256z"/><path d="M477.7 384c21.8-37.7 34.3-81.4 34.3-128C512 114.6 397.4 0 256 0l0 64c106 0 192 86 192 192c0 35-9.4 67.8-25.7 96l55.4 32z"/></svg></span></button>
				</form>
			<% }); %>
		<% } %>

	</main>

	<script type="text/javascript" src="app.js"></script>
</body>
</html>
