<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Searchlistarr • Manage Google Watchlist</title>
	<link rel="stylesheet" href="style.css">
	<meta name="robots" content="noindex, nofollow">

	<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
	<link rel="shortcut icon" href="/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Searchlistarr" />
	<link rel="manifest" href="/favicon/site.webmanifest" />
</head>
<body>

	<%- include('partials/header.ejs') %>

	<main>
		<h1 class="mt-0 mb-0"><%= title %></h1>

		<form class="search" method="GET">
			<label for="q" class="sr-only">Search this list</label>
			<input type="search" name="q" id="q" value="<%= search %>" placeholder="Search this list" <%- search ? 'autofocus' : '' %> />
			<button type="submit">
				<span class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M368 208A160 160 0 1 0 48 208a160 160 0 1 0 320 0zM337.1 371.1C301.7 399.2 256.8 416 208 416C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208c0 48.8-16.8 93.7-44.9 129.1l124 124 17 17L478.1 512l-17-17-124-124z"></path></svg></span>
			</button>
		</form>

		<%- include('partials/pagination.ejs', pagination) %>

		<div class="movies movies-<%= grid ? 'p' : 'f' %>">
			<% if (movies.length === 0) { %>
				<p class="opacity-muted" style="width: 100%; text-align: center; min-height:300px; margin: 0; padding: 2rem 0;">No media found 😭</p>
			<% } else { %>
				<% movies.forEach(function(movie, i) { %>
					<%- include('partials/movie' + (grid ? '-poster' : '') + '.ejs',{movie, i}) %>
				<% }); %>
			<% } %>
		</div>

		<%- include('partials/pagination.ejs', pagination) %>
	</main>

	<script type="text/javascript" src="app.js"></script>
</body>
</html>
