<%- include('partials/head.ejs') %>

	<%- include('partials/header.ejs') %>

	<main>
		<h1 class="mt-0 mb-0"><%= title %></h1>

		<div class="page">
			<%- include(pageTemplate) %>
		</div>

		<%- include('partials/footer.ejs') %>
	</main>

<%- include('partials/foot.ejs') %>
