<form action="/settings" method="POST" id="settings">

	<fieldset class="setting">
		<small class="key">Overseerr</small>

		<div class="value">
			<div class="finput">
				<a href="<%= nav.overseerUrl %>" target="_blank">
					<small class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M328 0L304 0l0 48 24 0 102.1 0L207 271l-17 17L224 321.9l17-17 223-223L464 184l0 24 48 0 0-24 0-160 0-24L488 0 328 0zM24 32L0 32 0 56 0 488l0 24 24 0 432 0 24 0 0-24 0-176 0-24-48 0 0 24 0 152L48 464 48 80l152 0 24 0 0-48-24 0L24 32z"/></svg> &nbsp;</small><%= nav.overseerUrl %>
				</a>
			</div>
		</div>
	</fieldset>

	<fieldset class="setting">
		<small class="key">Google watchlist</small>

		<div class="value">
			<div class="finput">
				<a href="<%= googleWatchlistUrl %>" target="_blank">
					<small class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M328 0L304 0l0 48 24 0 102.1 0L207 271l-17 17L224 321.9l17-17 223-223L464 184l0 24 48 0 0-24 0-160 0-24L488 0 328 0zM24 32L0 32 0 56 0 488l0 24 24 0 432 0 24 0 0-24 0-176 0-24-48 0 0 24 0 152L48 464 48 80l152 0 24 0 0-48-24 0L24 32z"/></svg> &nbsp;</small><%= googleWatchlistUrl %>
				</a>
			</div>
		</div>
	</fieldset>

	<fieldset class="setting">
		<small class="key">Cached watchlist</small>

		<div class="value">
			<div><%= stats.watchlist %></div>
			<div><small>Last updated <%= stats.watchlistModified %></small></div>
		</div>
	</fieldset>

	<fieldset class="setting">
		<small class="key">Cached unknowns</small>

		<div class="value">
			<div><%= stats.unknowns %></div>
			<div><small>Last updated <%= stats.unknownlistModified %></small></div>
		</div>
	</fieldset>

	<fieldset class="setting">
		<small class="key">Cache behaviour</small>

		<div class="value">
			<label class="label-reset">
				<input type="checkbox" name="always_skip_cache" value="1" <%- settings.always_skip_cache ? 'checked' : '' %> /> Always skip cache
			</label>
		</div>
	</fieldset>

	<fieldset class="setting">
		<small class="key"></small>

		<div class="value">
			<button type="submit">
				<span class="icon loader dn" aria-label="Loading"><svg class="spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path opacity=".4" d="M0 256C0 397.4 114.6 512 256 512c94.7 0 177.5-51.5 221.7-128l-55.4-32c-33.2 57.4-95.2 96-166.3 96C150 448 64 362 64 256S150 64 256 64l0-64C114.6 0 0 114.6 0 256z"/><path d="M477.7 384c21.8-37.7 34.3-81.4 34.3-128C512 114.6 397.4 0 256 0l0 64c106 0 192 86 192 192c0 35-9.4 67.8-25.7 96l55.4 32z"/></svg></span><span class="icon main-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M241 345l-17 17-17-17L79 217l-17-17L96 166.1l17 17 87 87L200 24l0-24 48 0 0 24 0 246.1 87-87 17-17L385.9 200l-17 17L241 345zM48 344l0 120 352 0 0-120 0-24 48 0 0 24 0 144 0 24-24 0L24 512 0 512l0-24L0 344l0-24 48 0 0 24z"/></svg></span><span class="icon check-icon dn" aria-hidden="true"><svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"/></svg> </span> Save settings
			</button>
		</div>
	</fieldset>

	<hr style="margin-bottom: 5rem;" />

	<h2>About the project</h2>

	<fieldset class="setting">
		<small class="key">GitHub</small>

		<div class="value">
			<div class="finput">
				<a href="https://github.com/dohnutt/searchlistarr" target="_blank">
					<small class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M328 0L304 0l0 48 24 0 102.1 0L207 271l-17 17L224 321.9l17-17 223-223L464 184l0 24 48 0 0-24 0-160 0-24L488 0 328 0zM24 32L0 32 0 56 0 488l0 24 24 0 432 0 24 0 0-24 0-176 0-24-48 0 0 24 0 152L48 464 48 80l152 0 24 0 0-48-24 0L24 32z"/></svg> &nbsp;</small>https://github.com/dohnutt/searchlistarr
				</a>
			</div>
		</div>
	</fieldset>

</form>