<form action="/settings" method="POST" id="settings">

	<fieldset class="setting">
		<small class="key">Overseerr</small>

		<div class="value">
			<div class="finput">
				<a href="<%= nav.overseerUrl %>" target="_blank">
					<small class="icon"><%- utils.svgIcon('external') %> &nbsp;</small><%= nav.overseerUrl %>
				</a>
			</div>
		</div>
	</fieldset>

	<fieldset class="setting">
		<small class="key">Google watchlist</small>

		<div class="value">
			<div class="finput">
				<a href="https://google.ca/search?q=my+watchlist" target="_blank">
					<small class="icon"><%- utils.svgIcon('external') %> &nbsp;</small>My watchlist
				</a>
			</div>
			<div class="finput">
				<a href="<%= googleWatchlistUrl %>" target="_blank">
					<small class="icon"><%- utils.svgIcon('external') %> &nbsp;</small><%= googleWatchlistUrl %>
				</a>
			</div>
		</div>
	</fieldset>

	<fieldset class="setting">
		<small class="key">Cached watchlist</small>

		<div class="value">
			<div><%= stats.watchlist %></div>
			<div><small>Last updated <%= stats.watchlistModified %></small></div>
		</div>
	</fieldset>

	<fieldset class="setting">
		<small class="key">Cached unknowns</small>

		<div class="value">
			<div><%= stats.unknowns %></div>
			<div><small>Last updated <%= stats.unknownlistModified %></small></div>
		</div>
	</fieldset>

	<fieldset class="setting">
		<small class="key">Cache behaviour</small>

		<div class="value">
			<label class="label-reset">
				<input type="checkbox" name="always_skip_cache" value="1" <%- settings.always_skip_cache ? 'checked' : '' %> /> Always skip cache
			</label>
		</div>
	</fieldset>

	<fieldset class="setting">
		<small class="key"></small>

		<div class="value">
			<button type="submit">
				<span class="icon loader dn" aria-label="Loading"><%- utils.svgIcon('spinner') %></span><span class="icon main-icon" aria-hidden="true"><%- utils.svgIcon('download') %></span><span class="icon check-icon dn" aria-hidden="true"><%- utils.svgIcon('check') %> </span> Save settings
			</button>
		</div>
	</fieldset>

	<hr style="margin-bottom: 5rem;" />

	<h2>About the project</h2>

	<fieldset class="setting">
		<small class="key">GitHub</small>

		<div class="value">
			<div class="finput">
				<a href="https://github.com/dohnutt/searchlistarr" target="_blank">
					<small class="icon"><%- utils.svgIcon('external') %> &nbsp;</small>https://github.com/dohnutt/searchlistarr
				</a>
			</div>
		</div>
	</fieldset>

</form>